header {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
    display: grid;
    justify-content: center;

    nav{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        ul{
            list-style-type: none;
            padding: 5px;
            padding-bottom: 5px;
            padding-top: 5px;
            margin: 5px;
            border: 5px snow;
            li {
                display: inline-block;
                list-style: none;
                a{
                    color: rgb(80, 99, 79);
                    text-decoration: none;
                }
            }
        }
    }
}