.content__titulo{
    font-size: 50px;

    h1 {
        color: brown;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        text-align: center;
        background-image: url(../images/images.jpeg);
        background-repeat: repeat-x;
        background-position: center;
        padding: 20px;
        margin: 10px;
        border: 10px solid wheat;
        border-radius: 10px;
    
    }
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: bolder;
        font-size: 20px;
        text-align: left;
        line-height: 30px;
        word-spacing: 1px;
        padding: 20px;
    }

}

.content__titulo2{
    font-size: 50px;

    h1 {
        color: rgb(11, 15, 13);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        text-align: center;
        background-image: url(../images/images.jpeg);
        background-repeat: repeat-x;
        background-position: center;
        padding: 20px;
        margin: 10px;
        border: 10px solid wheat;
        border-radius: 10px;
    
    }
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: bolder;
        font-size: 20px;
        text-align: left;
        line-height: 30px;
        word-spacing: 1px;
        padding: 20px;
    }
}
