header{
    font-size: large;
    display: grid;
    justify-content: center;
    
    nav{
        
        ul {
        li{ list-style-type: none ;
            a{
                color: rgb(80, 99, 79);
                text-decoration: none;
            }
    }
}
} 
} 
@media (min-width:500px) {
   nav{
        ul{
    display: flex;
    justify-content: space-between;
}
}
} 
    @media (min-width:768px){
        nav{
            ul{
                flex-direction: row;
                border: 2px solid black;
            }
        }
}

