* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Dongle", sans-serif;

}
.vicky {
  display: flex;
  color: rgb(5, 5, 5);
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 10px;
  text-transform: uppercase;
}
.text{
  display: flex;
  color: rgb(71, 115, 59);
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 10px;
  text-transform: uppercase;
   border: 10px solid wheat;
}
.frase{
  display: flex;
  color: rgb(247, 247, 247);
  background-color: rgb(231, 219, 151);
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-transform: lowercase;
  font-size: 50px;
  font-variant: normal;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 10px;
}

.carousel{
  margin-top: 20px;
  border-radius: 50px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 1%;
}

.envoltura {
  background-color: rgb(178, 195, 191);
  margin-bottom: 1.5em;
  display: grid;
  grid-template-areas: "header" "nav" "contenido" "sidebar" "ad" "footer";
  margin: 10%;
  margin-bottom: 50%;
  color: rgb(247, 247, 247);
  font-size: 50px;
  font-variant: normal;
  word-spacing: 10px;
  text-decoration: none;
  text-align: center;
  font-family: cursive;
}

h2{
  color: rgb(219, 195, 195);
  background-image: url(../images/images.jpeg);
  background-repeat: repeat-x;
  background-position: center;
  padding: 20px;
  margin: 10px;
  border: 10px solid wheat;
  border-radius: 10px;
  font-size: 100px;
  padding-bottom: 1%;

}

.content__titulo{
  font-size: 120rem;
  background-color: rgb(184, 198, 176);
  font-family: cursive;
  font-weight: 600;
}

.primerparrafo {
  color: antiquewhite;
  background-color: goldenrod;
  border-radius: 20px;
  border: 10px rgb(162, 181, 86) solid;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  font-size: 80px;
  text-align: center;
  font-family: cursive;
}
h3{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  line-height: 30px;
  word-spacing: 1px;
  padding: 20px;

}
p{
  display: flex;
  color: rgb(13, 19, 11);
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 10px;
  text-transform: none;
   border: 10px solid wheat;
}

h4{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  line-height: 30px;
  word-spacing: 1px;
  padding: 20px;
}
img {
  margin-top: 20px;
  border-radius: 50px;
  border: grey solid;
  justify-content: center;
  
}
.content__titulo2 {
  font-size: 50px;
}


body {
  background-color: rgb(223, 223, 207);
  text-transform: uppercase;
  padding: 20px;
  margin: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  display: grid;
  justify-content: center;
}
header nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  list-style-type: none;
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 5px;
  border: 5px snow;
}
header nav ul li {
  display: inline-block;
  list-style: none;
}
header nav ul li a {

  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Dongle", sans-serif;
}

body {
  background-color: beige;
  text-transform: lowercase;
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  color: rgb(24, 29, 13);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0ch;
  font-size: 200px;
}



footer {
  color: whitesmoke;
  background-color: grey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 3em;
  margin-bottom: 0;
  margin-top: 1.5em;
}



.divcontainer {
  background-color: rgb(164, 103, 103);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 2fr 1fr;
}


.contenido {
  justify-content: center;
  color: rgb(226, 228, 216);
}




nav ul li {
  list-style-type: none;
}

nav ul, .ad, article, aside {
  color: rgb(139, 172, 42);
  border: 3px solid white;
}

header {
  grid-area: header;
}

.contenido {
  grid-area: contenido;
}

.nav {
  grid-area: nav;
}

aside {
  grid-area: aside;
}

.ad {
  grid-area: ad;
}

footer {
  grid-area: footer;
}


@media (min-width: 500px) {
  .envoltura {
    margin: 0;
    grid-template-areas: "header header" "nav    nav" "sidebar contenido" "ad      ad" "footer  footer";
    grid-template-columns: 1fr 1fr;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav ul, .ad, article, aside {
    color: rgb(216, 221, 211);
    border: 3px solid rgba(208, 181, 111, 0.35);
  }
  img {
    width: 350px;
    height: 300px;
  }
  footer {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .envoltura {
    grid-template-areas: "header header" "nav    contenido sidebar" "nav contenido   ad" "footer  footer  footer";
  }
  nav ul {
    flex-direction: row;
    border: 2px solid black;
  }
  nav ul, .ad, article, aside {
    color: #3a3548;
    border: 0px;
  }
  header, h1, h2, a {
    color: #3a3548;
  }
  footer {
    margin-top: 1.5em;
    background-color: lightslategrey;
  }
}
@media (min-width: 1024px) {
  body {
    background-color: rgb(184, 198, 176);
  }
  .envoltura {
    color: rgb(140, 145, 137);
  }
  img {
    width: 475px;
    height: 400px;
    margin-top: 20px;
  }
}
.gradiente {
  height: 100px;
  width: 100px;
  background-image: linear-gradient(45deg, rgb(41, 114, 38), yellow, green, white);
}

.cuadro {
  border: 3px solid black;
  width: 110px;
  height: 110px;
  background-color: transparent;
}

.rojo {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
  transform: translate(20px, 20px);
  transform: rotate(180deg);
  transform: scale(3, 2);
  transition: all 3s;
}

.rojo:hover {
  background-color: rgb(159, 114, 114);
  color: white;
  opacity: 1;
  transform: scale(1.2) rotate(180deg);
}

.animaciones {
  width: 100px;
  height: 100px;
  background-color: green;
  -webkit-animation-name: un_efecto;
          animation-name: un_efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.violet {
  background-color: violet;
}/*# sourceMappingURL=juana.css.map */