* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: brown;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-image: url(../images/images.jpeg);
  background-repeat: repeat-x;
  background-position: center;
  padding: 20px;
  margin: 10px;
  border: 10px solid wheat;
  border-radius: 10px;
}

.subtitulooo {
  color: rgb(54, 93, 13);
}

header {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: large;
  display: grid;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 5px;
  border: 5px snow;
}

.ad {
  text-align: left;
  background-color: rgb(105, 137, 105);
  color: azure;
  font-size: 60px;
  text-transform: uppercase;
}

body {
  background-color: beige;
  text-transform: lowercase;
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
  display: inline-block;
  list-style: none;
}

h2 {
  color: rgb(36, 48, 13);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0ch;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  word-spacing: 1px;
  padding: 20px;
}

.primerparrafo {
  color: antiquewhite;
  background-color: goldenrod;
  border-radius: 20px;
  border: 10px rgb(162, 181, 86) solid;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
}

footer {
  color: whitesmoke;
  background-color: grey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 3em;
  margin-bottom: 0;
  margin-top: 1.5em;
}

img {
  margin-top: 20px;
  border-radius: 50px;
  border: grey solid;
}

.divcontainer {
  background-color: rgb(141, 164, 103);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 2fr 1fr;
}

.ulnavbar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 25rem;
  margin-right: 4rem;
  color: black;
}

.contenido {
  justify-content: center;
  color: rgb(226, 228, 216);
}

.vicky {
  display: flex;
  color: black;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
}

nav ul, .ad, article, aside {
  color: rgb(139, 172, 42);
  border: 3px solid white;
}

a {
  color: rgb(80, 99, 79);
  text-decoration: none;
}

header {
  grid-area: header;
}

.contenido {
  grid-area: contenido;
}

.nav {
  grid-area: nav;
}

aside {
  grid-area: aside;
}

.ad {
  grid-area: ad;
}

footer {
  grid-area: footer;
}

.envoltura {
  background-color: rgb(99, 117, 43);
  margin-bottom: 1.5em;
  display: grid;
  grid-template-areas: "header" "nav" "contenido" "sidebar" "ad" "footer";
}

@media (min-width: 500px) {
  .envoltura {
    margin: 0;
    grid-template-areas: "header header" "nav    nav" "sidebar contenido" "ad      ad" "footer  footer";
    grid-template-columns: 1fr 1fr;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav ul, .ad, article, aside {
    color: rgb(118, 161, 81);
    border: 3px solid rgba(208, 181, 111, 0.35);
  }
  img {
    width: 350px;
    height: 300px;
  }
  footer {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .envoltura {
    grid-template-areas: "header header" "nav    contenido sidebar" "nav contenido   ad" "footer  footer  footer";
  }
  nav ul {
    flex-direction: row;
    border: 2px solid black;
  }
  nav ul, .ad, article, aside {
    color: #3a3548;
    border: 0px;
  }
  header, h1, h2, a {
    color: #3a3548;
  }
  footer {
    margin-top: 1.5em;
    background-color: lightslategrey;
  }
}
@media (min-width: 1024px) {
  body {
    background-color: rgb(184, 198, 176);
  }
  .envoltura {
    color: rgb(140, 145, 137);
  }
  img {
    width: 475px;
    height: 400px;
    margin-top: 20px;
  }
}
.gradiente {
  height: 100px;
  width: 100px;
  background-image: linear-gradient(45deg, rgb(41, 114, 38), yellow, green, white);
}

.cuadro {
  border: 3px solid black;
  width: 110px;
  height: 110px;
  background-color: transparent;
}

.rojo {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
  transform: translate(20px, 20px);
  transform: rotate(180deg);
  transform: scale(3, 2);
  transition: all 3s;
}

.rojo:hover {
  background-color: green;
  color: white;
  opacity: 1;
  transform: scale(1.2) rotate(180deg);
}

.animaciones {
  width: 100px;
  height: 100px;
  background-color: green;
  -webkit-animation-name: un_efecto;
          animation-name: un_efecto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.violet {
  background-color: violet;
}/*# sourceMappingURL=messi.css.map */